/*Homepage style*/
.Menu {
    font-family: 'Roboto Condensed Light', sans-serif;
    display: flex;
    font-size: 30px;
    border-radius: 12px;
    padding: 10px;
    justify-content: center;
    -webkit-box-align: center;
} 
p{
    font-family: 'Roboto Condensed Light', sans-serif;
    justify-content: center;
    padding: 10px;
    line-height: 1.5;
}
header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color:white;
    
  }
a {
    font-family: 'Roboto', sans-serif;
    color: inherit;
    text-decoration: none;
    transform: 0.25s ease;
}

ul {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    font-family: 'Roboto', sans-serif;
    margin-left: 0.75em;
    margin-right: 0.75em;
}

ul:hover a {
    font-family: 'Roboto', sans-serif;
    color: black;
}

ul:hover a:hover {
    font-family: 'Roboto', sans-serif;
    color: white;
    box-shadow: 0 2px 0 0 currentColor;
}
.INTRO{
    font-family: 'Roboto', sans-serif;
    position: relative;
  top: 0;
  left: 0;
} 
.jj{
    position: relative;
    top: 0;
    left: 0;

}
.jj2{
    position: absolute;
    bottom: 10px;
    left: 30px;
}

.sub{
    font-family: 'Roboto Condensed Light',sans-serif;
    font-size: 1.25rem;
}

.column {
    float: left;
    
  }

.CONTACT{
    float: right;
    width: 50%;
    font-family: 'Roboto Condensed Light',sans-serif;
}

.button{
    background-image: url(location.png);
    background-repeat: no-repeat;
    float: left;
    display:block;
    padding: 12px;
}
.ad{
    font-family: 'Roboto Condensed Light',sans-serif;
    font-style: normal;
    
}
.c{
    width:50%;
}
.cc{
   
    width: 50%;
}
.column1{
    float: left;
    width:50%;
}

.gymhour{
    font-family: 'Roboto Condensed Light',sans-serif;
    font-size: 12pt;
    
}

@media (max-width: 768px) {
    .Menu {
        flex-direction: column;
        align-items: center;
    }
}

/* #b1{
    color: #fff;
    background-color: #000;
    border-color: #000;
} */
/* 
In web development, "hover" refers to the state of an 
element on a web page when a user hovers their mouse 
cursor over it, but hasn't clicked on it yet. 
Hovering typically triggers a visual change to the 
element, such as a change in color, size, or position.


box-shadow: 0 2px 0 0 currentColor applies a 
box-shadow effect to the hovered anchor element. 
This box-shadow has four values:
0 is the horizontal offset of the shadow.
2px is the vertical offset of the shadow.
0 is the blur radius of the shadow.
0 is the spread radius of the shadow.  */


/* CATEGORIES STYLE CLASS */
.cata {
    border: 1px solid #ccc;
    border-radius: 5px;

    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
}
.bgg{
    background-image: url(bgg.jpg);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.cata h4 {
    color: #333;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.cata ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cata li {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;

    background-color: #fff;
    color: black;
    cursor: default;
    pointer-events: none;
}

.cata li:hover {
    background-color: #f5f5f5;
}

.cata li img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
    width: 140px;
    height: 140px;
}

/* table style class  */
/* table border */
.timetable {
    border-collapse: collapse;
    border: 2px solid #f1680c;
    margin: 0 auto;
    font-size: 20px;

}

/* header style */
.timetable th {
    background-color: #f1680c;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

/* cell style */
.timetable td {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}


.timetable .Weight {
    background-color: #FFA500;
    color: #fff;
}

.timetable .Cardio {
    background-color: #2196F3;
    color: #fff;
}

.timetable .yoga {
    background-color: #4CAF50;
    color: #fff;
}

.timetable .Swimming {
    background-color: #00BCD4;
    color: #fff;
}

.timetable .break {
    background-color: #ddd;

    color: #333
}

.timetable .Boxing {
    background-color: #673AB7;
    color: #fff;
}

.timetable .BodyBuilding {
    background-color: #9C27B0;
    color: #fff;
}

.timetable .Karate {
    background-color: #FF9800;
    color: #fff;
}
/* footer */
footer {
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 20px;
    
    font-size: 16px;
    color: black;
}
.cc{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 20px;
    
}
.footer-contact{
    text-align: center;
    margin: 10px;
    margin-left: 50px;
}

footer.smaller {
    padding: 20px 0;
}

/*Registration form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: #0077b6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #023e8a;
}
h2{
    padding: 20px;
    margin-left: 50px;
    font-weight: bold;
    
}
/* about PAGE */
/* Style for section */
.roll{
    max-width: 700px;
    height: 500px;
    margin: 20px auto;
    display:flex;
}

.roll img{
    width:100%;
    height:100%;
    object-fit: cover;
}



.bg{
    background-image: url(bg.png);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    background-color: #f9f9f9;
}

/* Style for article */
article {
    flex-basis: calc(50% - 30px);
    margin-bottom: 30px;
}

/* Style for h2 */
.expp {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    
    margin-bottom: 20px;
}

/* Style for p */
.ex {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
    margin-bottom: 0;
}

/* Style for div */
 .divv {

    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
} 

/* Style for h1 */
h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    
    margin-bottom: 30px;
}

/* Style for body */
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  
    margin: 0;
    padding: 0;
}

#WHY {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    
}


/* PrivacyPolicy page */
.bo {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
}

.hh {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.introo {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
